صورت تمامی تمرین ها در فایل پی دی اف قرار دارد

In [2]:
#1
number=float(input("Enter a number:"))
for i in range(1,11):
    s=i*number
    print(number,"x",i,"=",s)

Enter a number: 8

8.0 x 1 = 8.0
8.0 x 2 = 16.0
8.0 x 3 = 24.0
8.0 x 4 = 32.0
8.0 x 5 = 40.0
8.0 x 6 = 48.0
8.0 x 7 = 56.0
8.0 x 8 = 64.0
8.0 x 9 = 72.0
8.0 x 10 = 80.0

In [4]:
#2
number1=int(input("start="))
number2=int(input("end="))
number3=int(input("step="))
s=0
for i in range(number1,number2,number3):
    s=s+i
    print(i)
print("-------------")
print("sum=",s)

start= 2
end= 11
step= 4

2
6
10
-------------
sum= 18

In [8]:
#3
mylist=[10,20,30,40]
total=0
count=0
for num in mylist:
    total+=num
    count+=1
average=total/count
print("Average:",average)

Average: 25.0

In [3]:
#4
num=int(input("num="))
s=0
j=0
for i in range(num):
    x=float(input("x="))
    m=float(input("m="))
    s=s+m*x
    j=j+m
    mean=s/j
    print("sum=",s,"num=",num,"mean=",mean)

num= 10
x= 8
m= 5

sum= 40.0 num= 10 mean= 8.0

x= 3
m= 2

sum= 46.0 num= 10 mean= 6.571428571428571

x= 20
m= 22

sum= 486.0 num= 10 mean= 16.75862068965517

x= 24
m= 26

sum= 1110.0 num= 10 mean= 20.181818181818183

x= 25
m= 25

sum= 1735.0 num= 10 mean= 21.6875

x= 55
m= 55

sum= 4760.0 num= 10 mean= 35.25925925925926

x= 55

KeyboardInterrupt

In [5]:
#5
mystr="shaghayegh"
for i in mystr:
    print(i)

s
h
a
g
h
a
y
e
g
h

In [7]:
#6
mystr=input("enter a word=")
for i in mystr:
    print(i)

enter a word= autumn

a
u
t
u
m
n

In [9]:
#7
mystr=["shaghayegh","Ali","Rosha"]
for i in mystr:
    print(i)

shaghayegh
Ali
Rosha

In [13]:
#8
for i in range(9):
    print(i)
    if i>5:
        break
    print("ok")

0
ok
1
ok
2
ok
3
ok
4
ok
5
ok
6

In [15]:
#9
for i in range(9):
    print(i)
    if i>5:
        continue
    print("ok")

0
ok
1
ok
2
ok
3
ok
4
ok
5
ok
6
7
8

In [28]:
#10
num=int(input("How many opportunities do you need?"))
print("what is the most populous city in Iran?")
f=0
print("-------------")
for i in range(num):
    m=input("answer:")
    m=m.upper()
    if m=="TEHRAN":
        print("correct")
        print("--------------")
        break
    else:
        if i<num-1:
            print("try again")
            print("-------------")
            f=f+1
if f==num:
    print("you lose")
else:
    print("you won")

How many opportunities do you need? 2

what is the most populous city in Iran?
-------------

answer: esfahan

try again
-------------

answer: tehran

correct
--------------
you won

In [30]:
#11
n=0
while n<8:
    n=n+1
    print(n)

1
2
3
4
5
6
7
8

In [ ]:
#12
reserved=[]
n=0 
while n<30:
    print("reserved",reserved)
    date=int(input("enter date between 1 to 30:"))
    if date<=0  or date>30:
        print("try again")
        continue
    elif date in reserved:
        print("Enter an other date")
        continue
    else:
        print("please enter your information:")
        first_name=input("enter your first_name?")
        last_name=input("enter your last_name?")
        n=n+1
        reserved=reserved+[date]

reserved []

enter date between 1 to 30: 20

please enter your information:

enter your first_name? shaghayegh
enter your last_name? shokrollahi

reserved [20]

enter date between 1 to 30: 10

please enter your information:

enter your first_name? ali
enter your last_name? amine

reserved [20, 10]